<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>actualizar usuarios</h1>
    <form action="/usuarios/actualizar/<%= usuarios[0]['id'] %>" method="POST"><!-- dejamos el metodo como POST PARA EVITAR CONFUCIONES y pasamos el parametro-->
        <label for=""> nombre</label>
        <input type="text" name="nombre" id="nombre" value="<%= usuarios[0]['nombre'] %>">  <!--  accedemos al primer valor del array en la columna nombre-->
      
        <label for=""> edad</label>
        <input type="text" name="edad" id="edad" value="<%= usuarios[0]['edad'] %>">  <!--  accedemos al primer valor del array en la columna edad-->

        <input type="submit" value="actualizar usuario">
        
    </form>
</body>
</html>