<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>crear usuarios</h1>
    <form action="/usuarios/crear" method="POST">
        <label for=""> nombre</label>
        <input type="text" name="nombre" id="nombre">
        
        <label for=""> edad</label>
        <input type="text" name="edad" id="edad">

        <input type="submit" value="registrar usuario">
        
    </form>
</body>
</html>