<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h3>quitar usuarios</h3>
    <form action="/usuarios/quitar/<%= usuarios[0]['id'] %>" method="POST"><!-- dejamos el metodo como POST PARA EVITAR CONFUCIONES y pasamos el parametro-->
        <h3>estas seguro de que desas quitar este usuario  del registro?</h3>
        <a id="btn-actualizar" href="/usuarios/todos">cancelar quitar usuarios</a>
        <input id="btn-quitar" type="submit" value="quitar usuario">
        
    </form>
</body>
</html>