<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>usuarios</h1>
    <table>
        <tr>
            <td>id</td>
            <td>nombre</td>
            <td>edad</td>
            <td>modificar</td>
            <td>eliminar</td>
        </tr>
        <% usuarios.forEach((usuarios)=>{ %>
            <tr>
                <td><%= usuarios.id %></td>
                <td><%= usuarios.nombre %></td>
                <td><%= usuarios.edad %></td>
                <td><a  id="btn-actualizar" href="/usuarios/actualizar/<%= usuarios.id %>">actualizar</a></td>
                <td><a  id="btn-quitar" href="/usuarios/quitar/<%= usuarios.id %>">eliminar</a></td>
            </tr>
            
        <% }) %>
    </table>
</body>
</html>