body{
    background: yellowgreen;
}
table{
    margin: auto;
}

td{
    padding: 2em;
    text-align: left;
    border-bottom: 1px solid blue;
}
#btn-actualizar{
    background-color: rebeccapurple;
    border: none;
    color: royalblue;
    padding: 1.5em;
}

#btn-quitar{
    background-color: burlywood;
    border: none;
    color: royalblue;
    padding: 1.5em;
}